@model WePoll.Domain.Models.PollModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PollModel</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responses)

        </dt>
        <dd>
            @foreach (var item in Model.Responses)
            {

                <p><b>@item.Key</b> : @item.Value</p>

            }
        </dd>
    </dl>



</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PollId }) |
    @Html.ActionLink("Back to List", "Polls")
</p>
