@model List<WePoll.Domain.Models.PollModel>

@{
    ViewBag.Title = "Polls";
}

<h2>Polls</h2>
<b />
<b />
<b />
<h4>@Html.ActionLink("Create New", "Create")</h4>
<table class="table">
    <tr>
        <th>
            <b>Ideas</b>
        </th>
        <th>
            <b>Date Created</b>
        </th>
        <th>
            <b>Options</b>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.PollId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PollId }) |
                @Html.ActionLink("Vote", "Vote", new { id = item.PollId })
            </td>
        </tr>
    }
</table>
